type knv_device, dev_type;
type nvhost_writable_device, dev_type, mlstrustedobject;
type sysfs_devices_tegradc, dev_type;
type diag_device, dev_type;
