type knv_device, dev_type;
type nvhost_device, dev_type;
#type nvhost_writable_device, dev_type, mlstrustedobject;
# Is this one needed at all:
#type sysfs_devices_tegradc, dev_type;
type diag_device, dev_type;
type baseband_log_device, dev_type;
